<div ng-controller="BottomSheetExample" style="min-height: 367px;">
  <p style="padding-left: 20px;" class="md-body-1">
    Bottom sheet can be dismissed with the service or a swipe down.
  </p>
  <div class="bottom-sheet-demo inset" layout="row" layout-sm="column" layout-align="center">
    <md-button class="md-primary" ng-click="showListBottomSheet($event)">
      Show as List
    </md-button>
    <md-button class="md-primary" ng-click="showGridBottomSheet($event)">
      Show as Grid
    </md-button>
  </div>

  <br/>
  <b layout="row" layout-align="center center" layout-margin>
    {{alert}}
  </b>

  <script type="text/ng-template" id="bottom-sheet-list-template.html">
    <md-bottom-sheet class="md-list md-has-header">
      <md-subheader>Comment Actions</md-subheader>
      <md-list>
        <md-list-item ng-repeat="item in items">

          <md-button class="md-list-item-content" ng-click="listItemClick($index)">
            <md-icon md-svg-src="{{item.icon}}"></md-icon>
            <span class="md-inline-list-icon-label">{{ item.name }}</span>
          </md-button>

        </md-list-item>
      </md-list>
    </md-bottom-sheet>
  </script>

  <script type="text/ng-template" id="bottom-sheet-grid-template.html">
    <md-bottom-sheet class="md-grid">
      <md-list>
        <md-list-item ng-repeat="item in items">

          <md-button class="md-grid-item-content" ng-click="listItemClick($index)">
            <md-icon md-svg-src="{{item.icon}}"></md-icon>
            <div class="md-grid-text"> {{ item.name }} </div>
          </md-button>

        </md-list-item>
      </md-list>
    </md-bottom-sheet>
  </script>
</div>
